SERVER_PRIVATE_KEY=EKFQqTacyEpCfqBRiMud58tU44AbXUB7T8JbvJVMfnzioRkyEpq8
SERVER_PUBLIC_KEY=B62qihpfJjEcwDYkLhHoTAST1uFChgStMSM2mLVdPB5ybSRqKkocXao
MINA_NETWORK_URL=https://api.minascan.io/node/devnet/v1/graphql
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=redis___password
SERVER_URL=http://server-dev
MINA_NETWORK=devnet
SERVER_PORT=3000
WEB_SOCKET_URL=ws://server-dev:3000