MINA_NETWORK=devnet
MINA_NETWORK_URL=https://api.minascan.io/node/devnet/v1/graphql
MINA_ARCHIVE_URL=https://api.minascan.io/archive/devnet/v1/graphql
SERVER_PORT=3000
REDIS_PORT=6379
REDIS_HOST=redis
REDIS_PASSWORD=redis___password
NODE_ENV=development
MONGODB_URL=mongodb://root:password@db:27017/mydb?authSource=admin
SERVER_PUBLIC_KEY=B62qnbdBnbKMC1VJ9unXX9k8JfBNs4HPvo6t4rUWb43cG1bPcPEQCC5
SENTRY_DSN=https://ba873c6da861fd666fda31ef495c2ffc@o4509413693849600.ingest.de.sentry.io/4509468841148496