MINA_NETWORK=lightnet
MINA_NETWORK_URL=http://host.docker.internal:8080/graphql
MINA_ARCHIVE_URL=http://host.docker.internal:8282
SERVER_PORT=3000
REDIS_PORT=6379
REDIS_HOST=redis
REDIS_PASSWORD=redis___password
NODE_ENV=development
MONGODB_URL=mongodb://root:password@db:27017/mydb?authSource=admin
SERVER_PUBLIC_KEY=B62qiaUDjv6eeRrwVCy68WVb6W2cYe1Bev8vjcoKzr3QNkXFoxFutf5