SERVER_PRIVATE_KEY=SERVER_PRIVATE_KEY
SERVER_PUBLIC_KEY=B62qnbdBnbKMC1VJ9unXX9k8JfBNs4HPvo6t4rUWb43cG1bPcPEQCC5
MINA_NETWORK_URL=http://host.docker.internal:8080/graphql
MINA_NETWORK=lightnet
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=redis___password
MONGODB_URL=mongodb://root:password@db:27017/mydb?authSource=admin
SENTRY_DSN=https://ba873c6da861fd666fda31ef495c2ffc@o4509413693849600.ingest.de.sentry.io/4509468841148496