SERVER_PRIVATE_KEY=EKFQqTacyEpCfqBRiMud58tU44AbXUB7T8JbvJVMfnzioRkyEpq8
SERVER_PUBLIC_KEY=B62qihpfJjEcwDYkLhHoTAST1uFChgStMSM2mLVdPB5ybSRqKkocXao
MINA_NETWORK_URL=https://api.minascan.io/node/devnet/v1/graphql
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=redis___password
MONGODB_URL=mongodb://root:password@db:27017/mydb?authSource=admin
