VITE_MINA_NETWORK_URL=http://localhost:8080/graphql
VITE_WEB_SOCKET_URL=ws://localhost:3000
VITE_SERVER_URL=http://localhost:3000
VITE_MINA_APPROX_SLOT_DURATION=25000
VITE_SERVER_PUBLIC_KEY=B62qiaUDjv6eeRrwVCy68WVb6W2cYe1Bev8vjcoKzr3QNkXFoxFutf5
VITE_MINA_NETWORK=lightnet