VITE_MINA_NETWORK_URL=https://api.minascan.io/node/devnet/v1/graphql
VITE_WEB_SOCKET_URL=ws://localhost:3000
VITE_SERVER_URL=http://localhost:3000
VITE_MINA_APPROX_SLOT_DURATION=220000 
VITE_SERVER_PUBLIC_KEY=B62qihpfJjEcwDYkLhHoTAST1uFChgStMSM2mLVdPB5ybSRqKkocXao
vITE_MINA_NETWORK=devnet